body {
    padding-bottom: 10vw;
    padding-top: 0;
    background-color: rgb(241, 243, 245);
}
.navbar {
    padding: 20px 0;
    font-size: 1.0rem;
    position: absolute;
    top: 0;
    width: 100%;
    border-style: none;
    z-index: 3;
}
#gedung-title {
    width: 100%;
    height: 70vh;
    position: relative;
}
#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#floated-card {
    margin-top: -150px;
}